* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff-span: 'Staatliches';
    --ff-heading: 'Staatliches', cursive;
    --ff-texting: 'Palanquin', sans-serif;

    --fc-heading: rgb(100, 86, 228);
    --fc-fundo: #12e75949;
    --fc-hb: rgb(211, 133, 97);
    --fc-span: #FEEAFA;
    --fc-fundoH1: #dae7ac;

    --fs-heading: clamp(1rem, 4rem + 4vw, 2rem);
}

body {
    background: var(--fc-fundo);
    display: grid;
    justify-content: space-evenly;
    justify-items: center; 
}

header {
    background:  linear-gradient(to top, #8864ec80, #deeea5, #ab77f0);
    position: relative;
    height: 100%;
    min-width: 39.4rem;
}

header img {
    border-radius: 50%;
    width: 22rem;
    margin: 3.8rem 10rem 10rem;
}

header img:hover {
    transform: skewX(10deg);
    box-shadow: black 5px 5px 5px;
}

header h1 {
    text-transform: uppercase;
    font-family: var(--ff-heading);
    font-style: normal;
    font-weight: 400;
    font-size: 4.0rem;
    line-height: 3.4rem;
    letter-spacing: 1rem;
    color: rgb(240, 133, 106);
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    text-align: center;

    width: 100%;
    border-radius: 8px;
    
    background: var(--fc-fundoH1);
    
    position: absolute;
    padding: 5px;
    margin-top: -9.0rem;
}

header .content-text p {
    width: 30.5rem;
    margin: 0 auto 3rem auto;

    line-height: 2.2rem;
    letter-spacing: 2px;;

    text-align: center;

    color: rgb(87, 85, 85);
    text-shadow: rgb(187, 186, 186) 1px 1px 1px;
    
    font-family: var(--ff-texting);
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
}

header .content-text p:before {
    content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptatum, reprehenderit quibusdam veniam obcaecati eaque ratione quia ipsam velit illum animi libero earum quisquam iusto quis explicabo ea similique repellendus!';
}

header .social {
    display: flex;
    justify-content: space-evenly;
}

header .social img {
    width: 5rem;
    margin: 0;
    border: 2px var(--fc-hb) solid;
}

main .section-gallery {
    padding-bottom: 20px;
    height: 179.5rem;
    min-width: 42rem;
    
    display: grid;
    justify-content: center;
    background-image: linear-gradient(to top,  #8bad74, #deeea5, #8864ec80);
}

.section-gallery .card:hover {
    opacity: 1;
}

.section-gallery .card {
    position: relative;
    min-height: 100%;
    padding-top: 3.5rem;
    opacity: 0.7;
}

.section-gallery .card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.section-gallery .card span {
    background: var(--fc-span);
    font-family: var(--ff-span);
    font-size: var(--fs-heading);
    font-weight: 400;
    color: black;

    border-radius: 28px;

    display: flex;
    position: absolute;
    height: 3.5rem;
    width: 11rem;
    top: 2rem;
    right: 1.2vw;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/*MEDIA DE 900PX*/

@media (min-width: 900px){
    body{
        margin: 10rem auto;
        display: grid;
        grid-template-areas: 
        "header gallery"
        "header gallery";
    }
    header .content-text p:before {
        content: 'Helit illum animi libero earum quisquam iusto quis explicabo ea similique repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptatum, reprehenderit quibusdam veniam obcaecati eaque ratione quia ipsam velit illum animi libero earum quisquam iusto quis explicabo ea similique repellendus!';
    }
    header{
        grid-area: header;
    }
    main .section-gallery{
        padding: 2rem;
        gap: 1rem;
        grid-template-columns: max-content;
        grid-area: gallery;
        height: 70rem;
        background-image: linear-gradient(to top, #8864ec80, #deeea5, #ab77f0);
    }
    .section-gallery .card:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .section-gallery .card:nth-child(2){
        grid-column: 2/3;
        grid-row: 1/3; 
    }
    .section-gallery .card:nth-child(3){
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .section-gallery .card:nth-child(4){
        grid-column: 1/2;
        grid-row: 2/4; 
        box-shadow: black 0 10px 20px 0;
    }
    .section-gallery .card:nth-child(5){
        grid-column: 2/3;
        grid-row: 3/4;
        box-shadow: black 0 10px 20px 0;
    }
    .section-gallery .card:nth-child(6){
        grid-column: 3/4;
        grid-row: 2/4;
        box-shadow: black 0 10px 20px 0;
    }
    .section-gallery .card{
        padding-top: 0;
        width: 22vw;
    }
    .card img{
        border: solid var(--fc-hb) 2px;
    }
    .card span:hover{
        display: none;
    }
}

/*KEYFRAMES*/

/*keyframes span dentro dos cards*/
@keyframes ToRight {
    0%{
        transform: translateX(150px);
        background: var(--fc-hb);
    }
    100%{
        background: var(--fc-span);
        transform: translateX(0);
    }
}

.card span{
    animation: 0.8s cubic-bezier(0.14, 0.57, 0.7, 0.6) ToRight;
}

/*keyframes header img*/
@keyframes ToDown {
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    50%{
        opacity: .5
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

header img{
    animation: 1s ToDown;
}

/*keyframes h1 e text no header*/
@keyframes Opacity {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

header h1 {
    animation: 1.5s Opacity;
}